*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#section-1{
    position: relative;
    height: 100vh;
}
.container{
    width: 90%;
    display: flex;
    background-color: aqua;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.part-1{
    width: 50%;
    position: relative;
    padding: 50px;
    background-color: #202020;
    color: white;
    text-align: end;
    height: 500px;
}
.part-2{
    width: 50%;
    height: 500px;
}
.part-2 img{
    width: 100%;
    height: 500px;
}
.icon{
    position: absolute;
    right: -26px;
    bottom: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: .5s;
    background-color: aliceblue;
    color: #e74c3c;
}
.head h1{
    position: relative;
    font-size: 22px;
    padding-right:10px ;
}
.icon:hover{
    transform: scale(1.1);
}
.computer{
    top: 125px;
}
.copy{
    top: 240px;
}
.camera{
    bottom: 98px;
}
.para-2{
    margin: 40px 0;
}
.para-2 h5{
    color: #e74c3c;
}
.para-2 p{
    font-size: 13px;
    margin: 5px 0;
    line-height: 25px;
}